/*
*	The site`s color palette:
*
*/

$white: #FFFFFF;

$grey1: #F5F7F9;
$grey2: #0000000F;
$grey3: #E1E7ED;
$grey4: #00000029;
$grey5: #6F8CAA;

$blue: #00B1FF;

$dark-blue1: #1E3554;
$dark-blue2: #112948;
$dark-blue3: #1A3150;
