@import "./colors.scss";

body {
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    background-color: $grey1;
    justify-content:center;
    color: $white;
    height: 100vh;
}
